
/* Variables */
$bg-color: rgb(211, 222, 235);


header {
    background-image: linear-gradient(rgb(59, 145, 179), rgb(109, 209, 248));
}

main {
    background-image: linear-gradient(rgb(59, 145, 179), rgb(109, 209, 248));
}

nav {
    background-color: $bg-color;
}

footer{
    background-color: $bg-color;
}


body {
    background-color: azure;
}

p{
    font-size: 18px;
 
    margin-right: 70px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}
